<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<header th:replace="Fragment :: header"/>
<div class="container-fluid">
    <div class="text-center ">
        <h1 class="text-capitalize">Morceaux</h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre Morceau</th>
                <th scope="col">Duree</th>
                <th scope="col">Nom de l'artiste</th>
                <th scope="col">Voir Plus</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="morceau : ${m}">
                <tr>
                    <td >[[${morceau.idMorceau}]]</td>
                    <td >[[${morceau.titreMorceau}]]</td>
                    <td >[[${morceau.Duree}]] mn</td>
                    <td >[[${morceau.artiste}]]</td>
                    <td class="h3"><a><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/>
                        <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/>
                    </svg></a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="m-2 text-right">
            <button class="btn btn-primary text-white h4"><a class="text-white text-decoration-none" th:href="@{/morceau/new}">Ajouter un morceau</a></button>
        </div>
    </div>

</div>
</body>
</html>